{% extends 'base.html' %}
{% block content %}

<h3>{{ recipe.title }}</h3>

<div class="recipe-detail">
    <div class="row">
        <div class="col m6 s12">
            <img class="recipe-pic" src="{{ recipe.url }}" alt="recipe-pic">
            {% if user.is_authenticated %}
                {% if recipe.author == request.user %}
                    <form action="{% url 'recipe_photo' recipe.id %}" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <input type="file" name="recipe-detail-photo-file">
                        <button type="submit" class="btn indigo darken-4"><i class="material-icons">file_upload</i></button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        <div class="col m6 s12">
            {% if user.is_authenticated %}
                {% if recipe.author == request.user %}
                    <button data-target="modal3" class="btn indigo darken-4 modal-trigger"><i class="material-icons">edit</i></button>
                    <button data-target="modal4" class="btn indigo darken-4 modal-trigger"><i class="material-icons">delete_forever</i></button>
                {% endif %}
                {% if favorited %}
                    <a href="{% url 'remove_favorite' recipe.id %}" class="btn indigo darken-4"><i class="material-icons">favorite</i></a>
                {% else %}
                    <a href="{% url 'add_favorite' recipe.id %}" class="btn indigo darken-4"><i class="material-icons">favorite_border</i></a>
                {% endif %}
            {% endif %}
            <p>Author: {{ recipe.author.username }}</p>
            <p>Prep Time: {{ recipe.prep_time }}</p>
            <p>Cook Time: {{ recipe.cook_time }}</p>
            <p>Servings: {{ recipe.servings }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s12">
            {{ recipe.ingredients|unordered_list }}
        </div>
        <div class="col m6 s12">
            <ol class="instruction-list">
                {% for instruction in recipe.instructions %}
                    <li>{{ instruction }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h5>Tags:</h5>
            {% if recipe.tags %}
                {{ recipe.tags|unordered_list }}
            {% else %}
                <p>No Tags Yet</p>
            {% endif %}
        </div>
    </div>
</div>

{% if user.is_authenticated %}

    <hr>

    <div class="row">
        <h4 class="left">Comments</h4>
        <button class="right btn indigo darken-4 modal-trigger" data-target="modal5"><i class="material-icons">add</i></button>
    </div>

    <section>
        <div class="comments">
            {% for comment in comments %}
                {% include '../partials/comments.html' %}
            {% endfor %}
        </div>
    </section>

{% endif %}

{% comment %} Modals Here {% endcomment %}

{% include '../modals/editrecipe.html' %}

{% include '../modals/deleterecipe.html' %}

{% include '../modals/newcomment.html' %}

{% endblock  %}