{% extends 'base.html' %}
{% block content %}

<h3>{{ recipe.title }}</h3>

<div class="recipe-detail">
    <div class="row">
        <div class="col m6 s12">
            <img class="recipe-pic" src="{{ recipe.url }}" alt="recipe-pic">
        </div>
        <div class="col m6 s12">
            <p>Author: {{ recipe.author.username }}</p>
            <p>Prep Time: {{ recipe.prep_time }}</p>
            <p>Cook Time: {{ recipe.cook_time }}</p>
            <p>Servings: {{ recipe.servings }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s12">
            <ul class="ingredient-list">
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col m6 s12">
            <ol class="instruction-list">
                {% for instruction in recipe.instructions %}
                    <li>{{ instruction }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>

<hr>

<h5>Comments</h5>

<section>
    <div class="comments">
        {% for comment in comments %}
            <div class="card">
                <div class="row">
                    <div class="comment-pic col m3">
                        <img width=85 src="{{ comment.user.url }}" alt="profile-pic">
                    </div>
                    <div class="col m9">
                        <h6>{{ comment.user.user.username }}</h6>
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock  %}