<li><a href="#modal1" class="modal-trigger" >New Recipe</a></li>

<div id="modal1" class="modal">
    <div class="modal-title">New Recipe</div>
    <div class="modal-content">
        <form action="{% url 'recipe_new' %}">
            {% csrf_token %}
            {{ recipe_form.as_p }}
            <input type="submit" class="btn" value="Submit">
            <input type="hidden" name="next" value={{next}}>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close"></a>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let elems = document.querySelectorAll('.modal');
        let instances = M.Modal.init(elems, options);
    });
</script>