{% extends 'base.html' %}

{% block content %}

<h3 class="center">About Recipe Master</h3>
<hr>
<div class="card">
    <p>Over the years, I've browsed many recipes online. I've some tried and true that I've continued to use over the years, and some that I try once, never to be found again. There's so many different sites to use, tips to read, and beliefs told about how something should be done or prepared. I wanted a space for those of us living in the kitchen can know and trust. For all my friend's and family that ask for recipes, this gives us a space to share resources while also giving us a space to explore new recipes at our pleasure. The more it's used, the more the site can grow to accomodate flavors, spices and techniques from all over. I hope you all join me as time goes on, sharing and revising recipes as we all find what works for us the best.</p>
</div>

<h3 class="center">About Me</h3>
<hr>
<div class="row">
    <div class="about-img col s8 m3">
        <img src="https://i.imgur.com/atiWRRct.jpg" alt="care-pic">
        <p class="about-name">Caroline Robbin</p>
    </div>
    <div class="about-content col s12 m9">
        <p>Welcome to Recipe Master! I'm so glad you've decided to explore our site and the recipes we offer. Having spent the majority of my life preparing for a life in the kitchen, finding a new recipe I can trust is both amazing and difficult. So many of the sites have you wading through pages of filler script in order to get the recipe for that new kind of cookie or pasta you want to try out. I wanted something that meant something to me, and so Recipe Master was born. A collection of my favorite recipes to start, build on a platform from my new ventures in life. I promise to change and update as you all see fit, and if you have any suggestions, please reach out! Thank you very matcha!<i class="material-icons small">local_cafe</i></p>
    </div>
</div>

{% endblock  %}