{% extends 'base.html' %}

{% block content %}

<h3>About Recipe Master</h3>
<hr>
<div class="card">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit vitae voluptatum sint repellendus nemo vero modi dolorum provident, odio natus vel aperiam sunt iusto sed dicta inventore voluptatibus voluptate sit.</p>
</div>

<h3>About Me</h3>
<hr>
<div class="row">
    <div class="about-img col s8 m3">
        <img src="https://i.imgur.com/atiWRRct.jpg" alt="care-pic">
    </div>
    <div class="about-content col s12 m9">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quos enim, voluptates esse optio quia? Aperiam temporibus quod, dolore ducimus incidunt dolorem ipsam ipsa laboriosam non perspiciatis necessitatibus vel dicta.</p>
    </div>
</div>

{% endblock  %}