{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Master</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Akaya+Kanadaka&family=Kaushan+Script&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css/' %}" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue-grey darken-1">
                <ul class="left">
                    <li><a href="/" id="logo" class="brand-logo">&nbsp;&nbsp;RecipeMaster<i class="material-icons right">restaurant_menu</i></a></li>
                </ul>
                
                <a href="#" data-target="mobile-menu" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <form class="search" action="{% url 'search' %}" method="GET">
                            <div class="input-field col offset-s3 s3 s3">
                                <input id="search" type="search" name="search" class="search" placeholder="Search" required>
                                <label class="label-icon left-align" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </li>
                    <li><a href="/about">About</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'index' %}">All Recipes</a></li>
                        <li><a href="#modal1" class="modal-trigger">New Recipe</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-menu">
            <li>
                <form class="search" action="{% url 'search' %}" method="GET">
                    <div class="input-field col offset-s3 s3 s3">
                        <input id="search" type="search" name="search" class="search" placeholder="Search" required>
                        <label class="label-icon left-align" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </li>
            <li><a href="/about">About</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'index' %}">All Recipes</a></li>
                <li><a href="#modal1" class="modal-trigger">New Recipe</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}
        </ul>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                let elems = document.querySelectorAll('.sidenav');
                let instances = M.Sidenav.init(elems, {});
            });
        </script>

        {% if messages %}
            {%for message in messages %}
                {% if message.tags == 'success' %}
                    <script>M.toast({html: "{{message}}", classes:'green-text rounded', displayLength:2000});</script>
                {% elif message.tags == 'error'%}
                    <script>M.toast({html: "{{message}}", classes:'red-text rounded', displayLength:2000});</script>
                {% endif %}          
            {% endfor %}
        {% endif %}

    </header>

    <main class="container z-depth-3">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer blue-grey darken-1">
        <div class="right">All Rights Reserved, &copy; 2021 Recipe Master &nbsp;</div>
    </footer>

    <div id="modal1" class="modal open">
        <div class="modal-content">
            <h3>New Recipe</h3>
            <form action="/recipes/new/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h5>All Fields Required</h5>
                <label for="id_title">Title:</label>
                <input type="text" name="title" maxlength="200" required="" id="id_title">

                <label for="id_prep_time">Prep time:</label>
                <input type="text" name="prep_time" maxlength="25" required="" id="id_prep_time">

                <label for="id_cook_time">Cook time:</label>
                <input type="text" name="cook_time" maxlength="25" required="" id="id_cook_time">

                <label for="id_servings">Servings:</label>
                <input type="number" name="servings" required="" id="id_servings">

                <label for="id_ingredients">Ingredients:</label>
                <p>Comma separate all ingredients i.e. 2 cups flour, 1 cup sugar, 1Tbsp vanilla...</p>
                <input type="text" name="ingredients" required="" id="id_ingredients">

                <label for="id_instructions">Instructions:</label>
                <p>Comma separate all instructions i.e. Preheat oven to 350, Sift flour and sugar, Add eggs one at a time...</p>
                <input type="text" name="instructions" required="" id="id_instructions">

                <label for="id_tags">Tags:</label>
                <p>Comma separated i.e. Vegetarian, Gluten Free, Italian</p>
                <input type="text" name="tags" required="" id="id_tags">

                <label for="id_url">Image:</label>
                <input type="file" name="recipe-photo-file">

                <button type="submit" class="btn indigo darken-4">Submit
                    <i class="material-icons">send</i>
                </button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close"></a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let elems = document.querySelectorAll('.modal');
            let instances = M.Modal.init(elems, {});
        });
    </script>
</body>
</html>