{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Master</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/" class="left brand-logo">&nbsp;&nbsp;RecipeMaster</a></li>
                </ul>
                <ul class="right">
                    <li><a href="/about">About</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'index' %}">All Recipes</a></li>
                        {% comment %} {% include 'recipes/new.html' %} {% endcomment %}
                        {% comment %} <li><a href="#modal1" class="modal-trigger">New Recipe</a></li>
                            <div class="modal" id="modal1">
                                <div class="modal-content">
                                    <h4>Header</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur totam quia recusandae cupiditate debitis dolor modi dignissimos ullam voluptas nostrum officiis fugiat porro reiciendis impedit molestiae, qui culpa, facilis non!</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-close"></a>
                                </div>
                            </div>

                            <script>
                                document.addEventListener('DOMContentLoaded', functio() {
                                    let elems = document.querySelectorAll('.modal');
                                    let instances = M.Modal.init(elems, options);
                                });
                            </script> {% endcomment %}

                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="right">All Rights Reserved, &copy; 2021 Recipe Master &nbsp;</div>
    </footer>
</body>
</html>