{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Master</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Akaya+Kanadaka&family=Kaushan+Script&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css/' %}" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
        
        {% include './partials/navbar.html' %}

        {% if messages %}
            {%for message in messages %}
                {% if message.tags == 'success' %}
                    <script>M.toast({html: "{{message}}", classes:'green-text rounded', displayLength:2000});</script>
                {% elif message.tags == 'error'%}
                    <script>M.toast({html: "{{message}}", classes:'red-text rounded', displayLength:2000});</script>
                {% endif %}          
            {% endfor %}
        {% endif %}

    </header>

    <main class="container z-depth-3">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer blue-grey darken-1">
        <div class="right">All Rights Reserved, &copy; 2021 Recipe Master &nbsp;</div>
    </footer>

    {% include './modals/newrecipe.html' %}

</body>
</html>