{% extends 'base.html' %}

{% block content %}

<div class="home-page">
    <h3>Welcome to Recipe Master</h3>
    <h6>Where the recipes do the talking</h6>

    <div class="row">
        <div class="card col m6 s12">
            <div class="card-title">
                <h4>Our Recipes</h4>
            </div>
            <div class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias laudantium accusantium assumenda voluptate distinctio libero? Soluta esse fuga tempora optio? Deserunt ducimus sequi rerum nobis iure placeat enim recusandae quos?</p>
            </div>
        </div>
        <div class="card col m6 s12">
            <div class="card-title">
                <h4>Our Vision</h4>
            </div>
            <div class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias laudantium accusantium assumenda voluptate distinctio libero? Soluta esse fuga tempora optio? Deserunt ducimus sequi rerum nobis iure placeat enim recusandae quos?</p>
            </div>
        </div>
    </div>
</div>

{% endblock  %}