{% extends 'base.html' %}

{% block content %}

<div class="home-page">
    <h3 class="center home-header">Welcome to Recipe Master</h3>
    <h5 class="center home-header">Where the recipes do the talking</h5>

    <hr>

    <div class="row">
        <div class="col s4">
            <img src="https://i.imgur.com/tMe5QwAm.jpg" alt="benny">
        </div>
        <div class="col s4">
            <img src="https://i.imgur.com/CnCwMVUm.jpg" alt="salmon">
        </div>
        <div class="col s4">
            <img src="https://i.imgur.com/1uEw1tJm.jpg" alt="chili">
        </div>
    </div>
    <div class="row">
        <div class="col m6 s12">
            <div class="card z-depth-3">
                <div class="card-title">
                    <h4>Our Recipes</h4>
                </div>
                <div class="card-content">
                    <p>All the recipes here at <strong>Recipe Master</strong> are a part of our history. Every recipe has been made perfect by somebody and shared here for others to enjoy. Many have been passed down and tweaked over the years, as some of the best recipes are. Share the recipes you love and explore new ones with us.</p>
                </div>
            </div>
        </div>
        
        <div class="col m6 s12">
            <div class="card z-depth-3">
                <div class="card-title">
                    <h4>Our Vision</h4>
                </div>
                <div class="card-content">
                    <p>We've all been there. Scrolling through ten pages of someone, that you've never met and probably dont even know the name of, going on about their whole life story of why this recipe is important to them. Touching, but not what you were looking for. Here at <strong>Recipe Master</strong> we know what you want. Easy to navigate recipes written by anyone with step by step instructions. Pick your favorites for easy access and share recipes with friends with ease. Happy Cooking!<i class="material-icons">restaurant_menu</i></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}