{% extends 'base.html' %}
{% block content %}

<h3 class="center">{{ profile.user.username }}'s Profile</h3>

<div class="profile-page">
    <div class="row">
        <div class="col m4 s12">
            <div class="card z-depth-3">
                <div class="card-content">
                    {% if profile.user.first_name %}
                        <h5 class="center">{{ profile.user.first_name }}</h5>
                    {% endif %}
                    <img class="profile-pic" src="{{ profile.url }}" alt="profile-pic">
                    <form action="{% url 'update_photo' %}" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <input type="file" name="profile-photo-file">
                        <br><br>
                        <button type="submit" class="btn indigo darken-4"><i class="material-icons">file_upload</i></button>
                    </form>

                    <hr>

                    <p>Date Joined: {{ profile.user.date_joined|date:"M d Y" }}</p>
                    <p>Email: {{ profile.user.email }}</p>
                    <button data-target="modal2" class="btn indigo darken-4 modal-trigger">Update</button>
                </div>
            </div>
        </div>
        <div class="col m8 s12">
            <div class="card z-depth-3">
                <h4 class="center">My Favorites</h4>
                <div class="row">
                    {% for recipe in recipes %}
                        {% include './partials/recipecard.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include './modals/editprofile.html' %}

{% endblock  %}