{% extends 'base.html' %}
{% block content %}

<h3>{{ profile.user.username }}'s Profile</h3>

<div class="row">
    <div class="card col m4">
        <div class="card-content">
            {% if profile.user.first_name %}
                <h5>{{ profile.user.first_name }}</h5>
            {% endif %}
            <img class="profile-pic" src="{{ profile.url }}" alt="profile-pic">
            <form action="{% url 'update_photo' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <input type="file" name="profile-photo-file">
                <br><br>
                <input type="submit" class="btn" value="Update Photo">
            </form>
            <p>Date Joined: {{ profile.user.date_joined|date:"M d Y" }}</p>
            <p>Email: {{ profile.user.email }}</p>
            <button data-target="modal2" class="btn modal-trigger">Edit Profile</button>
        </div>
    </div>
</div>

<div class="modal" id="modal2">
    <div class="modal-content">
        <form action="{% url 'update_profile' %}">
            {% csrf_token %}
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username">
            <label for="id_email">Email:</label>
            <input type="text" name="email" maxlength="200" id="id_email">
            <label for="id_first_name">First Name:</label>
            <input type="text" name="first_name" maxlength="200" id="id_first_name">
            <label for="id_last_name">Last Name:</label>
            <input type="text" name="last_name" maxlength="200" id="id_last_name">
            <input type="submit" class="btn" value="Update Profile">
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let elems = document.querySelectorAll('.modal');
        let instances = M.Modal.init(elems, {});
    });
</script>

{% endblock  %}